<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>{{ league.name }}</h2>
      <ion-note>{{ league.path }}</ion-note>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="table">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Tabela</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="matches">
      <ion-icon name="football"></ion-icon>
      <ion-label>Mecze</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
