// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-header {
    box-shadow: 0px 0px 2px #888;
    font-size: 25px;
}

.alert-button {
    color: #666 !important;
}

.alert-btn {
    background-color: #CC3333 !important;
    color: #fff !important;
}

.match {
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 19.5px;
    color: #fff;
    margin-right: 2px;
    text-align: center;
    font-size: 11px;
    position: relative;
    top: -1px;

    &.win {
        background-color: #28A745;
    }

    &.draw {
        background-color: #dbc927;
    }  

    &.lose {
        background-color: #f44242;
    }
}