<ion-header no-border>
    <ion-toolbar slot="primary">
        <ion-title>
            <ion-icon class="icon" name="bookmark"></ion-icon>Zapisane ligi
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button class="btn-container" (click)="addLeague()">
                <ion-icon class="add" name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let league of leagues">
            <ion-item lines="none" (click)="loadLeague(league)">
                <ion-label>
                    <h2>{{ league.name }}</h2>
                    <ion-note class="note">{{ league.path }}</ion-note>
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option  (click)="delete(league)">
                    <ion-icon class="modyfy" name="settings"></ion-icon>
                </ion-item-option>
                <ion-item-option  (click)="delete(league)">
                    <ion-icon class="delete" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
