.delete, .modyfy, .add {
    font-size: 20px;
    color: #fff;
    border-radius: 100%;
    padding: 7px;
}

.delete {
    background-color: #f44242;
}

.modyfy, .add {
    background-color: #eee;
    color: #333;
}

.list-md
{
    padding-top: 0px;
    padding-bottom: 0px;
}

.note {
    color: #888;
}

h2 {
    color: #333;
}

.btn-container {
    height: 50px;
}

.icon {
    margin-right: 10px;
    position: relative;
    top: 3px;
    color: orangered;
}