<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
        <h2>{{ league.name }}</h2>
        <ion-note>{{ league.path }}</ion-note>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let matchDay of data.match_days">
        <ion-card-header>
            <ion-card-title>{{ matchDay.date }}</ion-card-title>
            <ion-card-subtitle *ngIf="matchDay.pause !== null">{{ matchDay.pause }}</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
            <ion-list>
                <ion-item lines="none" *ngFor="let match of matchDay.matches; let i = index">
                    <div class="list-item c{{ i%2 }}">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="5" class="left">{{ match.home }}</ion-col>
                                <ion-col size="2" class="center">{{ match.result }}</ion-col>
                                <ion-col size="5" class="right">{{ match.guest }}</ion-col>
                            </ion-row>
                            <ion-row *ngIf="match.walkover == true">
                                <ion-col size="12" class="walkover"><ion-icon name="alert"></ion-icon> Walkower</ion-col>
                            </ion-row>
                            <ion-row *ngIf="match.info">
                                <ion-col class="info"><ion-icon name="information-circle"></ion-icon> {{ match.info }}</ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
