<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
        <h2>{{ league.name }}</h2>
        <ion-note>{{ league.path }}</ion-note>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="6">Zespół</ion-col>
                <ion-col size="2">M</ion-col>
                <ion-col size="2">P</ion-col>
                <ion-col size="2">B</ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngFor="let team of data.table">
        <ion-grid>
            <ion-row>
                <ion-col size="6"><b>{{ team.position }}.</b> {{ team.team }}</ion-col>
                <ion-col size="2">{{ team.stats[0] }}</ion-col>
                <ion-col size="2">{{ team.stats[1] }}</ion-col>
                <ion-col size="2">{{ team.stats[5] }}</ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
  </ion-list>
</ion-content>