<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
        <h2>{{ league.name }}</h2>
        <ion-note>{{ league.path }}</ion-note>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div class="team-name">
                    <ion-list>
                        <ion-item lines="none" color="primary">Zespół</ion-item>
                        <ion-item lines="none" *ngFor="let team of data.table; let i = index">
                            <div class="c{{ i%2 }}">
                                {{ team.position }}. {{ team.team }}
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-col>
            <ion-col size="6" no-wrap class="table-row">
                <div class="team-stats">
                    <ion-list>
                        <ion-item class="stats-wrapper" lines="none" color="secondary">
                            <ion-grid>
                                <ion-row >
                                    <ion-col size="4">
                                        <div class="team-stats">
                                            <div class="stat">M</div>
                                            <div class="stat">Pkt.</div>
                                            <div class="stat">W</div>
                                            <div class="stat">R</div>
                                            <div class="stat">P</div>
                                            <div class="stat">B</div>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
                        <ion-item class="stats-wrapper" lines="none" *ngFor="let team of data.table; let i = index">
                            <div class="c{{ i%2 }}">
                                <ion-grid>
                                    <ion-row >
                                        <ion-col size="4">
                                            <div class="team-stats">
                                                <div class="stat">{{ team.stats[0] }}</div>
                                                <div class="stat bg-color"><b>{{ team.stats[1] }}</b></div>
                                                <div class="stat">{{ team.stats[2] }}</div>
                                                <div class="stat">{{ team.stats[3] }}</div>
                                                <div class="stat">{{ team.stats[4] }}</div>
                                                <div class="stat">{{ team.stats[5] }}</div>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>